<div id="loginForm">
    <div class="input">
        <input type="text" ng-model="username" placeholder="Username">
    </div>
    <div class="input">
        <input type="password" ng-model = "password" placeholder="Password">
    </div>
    <div class="input">
        <button ng-click="login()">Login</button>
    </div>
</div>